body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

.login{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f766e,#2563eb);
}

.login-box{
background:#111827;
padding:35px;
border-radius:20px;
width:340px;
}

input{
width:100%;
padding:12px;
margin:8px 0;
background:#1f2937;
border:none;
border-radius:10px;
color:white;
}

button{
padding:12px 20px;
background:#14b8a6;
border:none;
color:white;
border-radius:10px;
cursor:pointer;
}

.app{
display:none;
}

aside{
position:fixed;
width:220px;
height:100%;
background:#111827;
padding:20px;
}

main{
margin-left:240px;
padding:20px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
gap:15px;
margin:20px 0;
}

.card{
background:#1f2937;
padding:20px;
border-radius:15px;
}

.kanban{
display:grid;
grid-template-columns:repeat(7,220px);
gap:10px;
overflow-x:auto;
}

.coluna{
background:#111827;
padding:10px;
border-radius:12px;
min-height:250px;
}

.lead{
background:#1f2937;
padding:10px;
border-radius:10px;
margin:8px 0;
cursor:grab;
border-left:4px solid #14b8a6;
}
